.navbar-static-top {
	margin-bottom: 19px;
	background-color: #0C4B33;
	color: #fff;
	margin-bottom: 0px;
	border-bottom: none;
}

.navbar-brand .django{
	width: 70px;
	margin-right: -7px;
}

.navbar-brand .motogp{
	width: 170px;
	margin-left: -7px;
}

.jumbotron{
	background-color: #44B78B;
	color: #083524;
}

.btn-primary, .btn-primary:active:hover, .btn-primary:focus{
	background-color: #0C4B33;
	border-color: #0C4B33;
}

.btn-primary:hover{
	background-color: #0C4B33;
	border-color: #0C4B33;
	color: #44B78B;
}

.navbar-default .navbar-nav>li>a{
    color: #44B78B;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #fff;
}

.btn-default{
	background-color: #44B78B;
	border-color: #44B78B;
	color: #0C4B33;
}

.btn-default:hover{
	background-color: #44B78B;
	border-color: #44B78B;
	color: #fff;
}